{% extends 'base.html' %}
{%load bootstrap4%}

 {% block content%}
 {% include 'index.html'%}

  <!-- Card -->
<div class="row">
  

    {% for img in project%}
    <div class="col-lg-4 col-md-12 mb-4">
    <div class="card card-image" style="background-image: url('https://images.pexels.com/photos/908295/pexels-photo-908295.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');background-repeat: no-repeat;">
    
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-4 px-5" style="height: 100%">
        <div>
          <h5 class="pink-text"><i ></i> {{img.author}}</h5>
          <a href="{% url 'project' img.pk %}"> <h3 class="card-title pt-2"><strong>{{img.name}}</strong></h3></a>
          <p>{{img.description}}</p>
          

          <a class="btn btn-pink" href="{{img.link}}"><i class="fas fa-clone left" ></i> View project</a>
        </div>
      </div>
    
    </div>
    </div>
    {% endfor %}
    
    </div>
    <!-- Card -->
 <style>
 
 a{
   color: aliceblue;
 }
 body{
   background-color:#89B7AC;
 }
 </style>
{% endblock %}
